.chip {
  --chip--color: var(--palette--default-700);
  --chip--bgcolor: var(--palette--default-200);
  --chip--active-bgcolor: var(--palette--default-400);
  --chip--hover-bgcolor: var(--palette--default-300);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--chip--bgcolor);
  color: var(--chip--color);
  font-weight: var(--typography--font-weight-medium);
  border-radius: calc(var(--unit) / 2);
  box-sizing: border-box;
  height: 20px;
  font-size: var(--typography--caption-font-size);
  line-height: var(--typography--caption-line-height);
  letter-spacing: var(--typography--caption-letter-spacing);
  padding: calc(var(--unit) / 2) calc(var(--unit) / 2);
  white-space: nowrap;
  gap: 4px;
}

.hasStartIcon {
  padding-left: calc(var(--unit) / 4);
}

.hasEndIcon {
  padding-right: calc(var(--unit) / 4);
}

.isClickable {
  cursor: pointer;
  transition:
    box-shadow var(--transition--duration-short) var(--transition--curve),
    background-color var(--transition--duration-short) var(--transition--curve),
    color var(--transition--duration-short) var(--transition--curve);
}

.chip.isClickable:hover {
  background-color: var(--chip--hover-bgcolor);
}

.chip.isClickable:active {
  background-color: var(--chip--active-bgcolor);
}

.chip.isClickable:focus {
  box-shadow: var(--highlight-primary);
}
