

.switch {
  --switch--color: var(--palette--primary);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  --track-height: calc(var(--unit) * 2.5);
  --track-width: calc(var(--unit) * 4);
  --knob-size: calc(var(--track-height) - 4px);
  --knob-margin: 1px;
}

.input {
  cursor: inherit;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.track {
  position: relative;
  margin-right: calc(var(--unit));
  border-radius: var(--track-height);
  width: var(--track-width);
  height: var(--track-height);
  max-width: var(--track-width);
  max-height: var(--track-height);
  box-shadow: var(--shadows--xs);
  background-color: #f5f8fa;
  box-sizing: border-box;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
  border: 1px solid var(--palette--default-300);
  transition:
    background-color var(--transition--duration-shortest) var(--transition--curve),
    box-shadow var(--transition--duration-shortest) var(--transition--curve),
    border-color var(--transition--duration-shortest) var(--transition--curve);
}

.track:hover {
  box-shadow: var(--shadows--sm);
}

.switch:focus-within > .track {
  box-shadow: var(--highlight-primary);
}

.knob {
  position: absolute;
  top: var(--knob-margin);
  left: var(--knob-margin);
  background-color: var(--palette--white);
  border-radius: var(--knob-size);
  width: var(--knob-size);
  height: var(--knob-size);
  max-width: var(--knob-size);
  max-height: var(--knob-size);
  border: 1px solid var(--palette--default-300);
  box-shadow: var(--shadows--xs);
  transition:
    left var(--transition--duration-shortest) var(--transition--curve),
    border-color var(--transition--duration-shortest) var(--transition--curve);
}

.input:checked ~ .track {
  background-color: var(--switch--color);
  border-color: var(--switch--color);
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
}

.input:checked ~ .track .knob {
  left: calc(var(--track-width) - var(--knob-size) - var(--knob-margin) * 2 - 1px);
  border-color: var(--switch--color);
}
