div.aspect-ratio-box-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
}

div.aspect-ratio-box-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
