.text {
  --text--color: var(--palette--text-primary);
  --text--font-size: var(--typography--font-size);
  color: var(--text--color);
  font-size: var(--text--font-size);
}

.caption {
  font-size: var(--typography--caption-font-size);
  font-weight: var(--typography--caption-font-weight);
  line-height: var(--typography--caption-line-height);
  letter-spacing: var(--typography--caption-letter-spacing);
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
