.card {
  background-color: rgb(var(--theme-background-paper));
  border-radius: var(--unit);
}

.raised {
  box-shadow: var(--shadows-card);
}

.outlined {
  border: 1px solid var(--theme-divider);
}
