.menuListItem {
  position: relative;
  background-color: transparent;
  padding: var(--unit);
  border-radius: calc(var(--unit) / 2);
  margin: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  justify-content: flex-start;
  align-items: stretch;
  outline: 0;
  transition:
    background-color var(--transition--duration) var(--transition--curve),
    color var(--transition--duration-duration) var(--transition--curve);
  font-weight: var(--typography--font-weight-medium);
  color: var(--palette--primary-700);
}

.menuListItem:not(:last-child) {
  margin-bottom: 4px;
}

.isSelected {
  background-color: var(--palette--primary-50);
  color: var(--palette--primary-900);
}

.menuListItem:hover:not(.isDisabled) {
  background-color: var(--palette--grey-100);
  color: var(--palette--text-primary)l
}

.menuListItem:focus:not(.isDisabled) {
  background-color: var(--palette--grey-100);
  box-shadow: var(--highlight--primary);
}

.menuListItem:active:not(.isDisabled) {
  background-color: var(--palette--grey-300);
}

.isDisabled {
  color: var(--palette--text-disabled);
  background-color: transparent;
  cursor: default;
}
