.root {
  --button--color: var(--palette--default-500);
  --button--bg: transparent;
  --button--border: transparent;
  --button--hover-bg: var(--palette--default-50);
  --button--active-bg: var(--palette--default-100);

  color: var(--button--color);
  background-color: var(--button--bg);
  border-color: var(--button--border);

  font-size: 16px;
  font-weight: var(--typography--font-weight-medium);

  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: calc(var(--unit) * 0.5);
  padding: 4px 8px;

  transition:
    background-color var(--transition--duration-short) var(--transition--curve),
    color var(--transition--duration-short) var(--transition--curve),
    box-shadow var(--transition--duration-short) var(--transition--curve);
}

.root.contained, .root.outlined {
  box-shadow: var(--shadows--xs);
}

.root.contained:hover, .root.outlined:hover {
  box-shadow: var(--shadows--sm);
}

/* variant = 'link */
.root.link {
  background-color: transparent;
  border: none;
  margin-top: -3px;
  padding: 1px 2px;
  min-width: 0;
}

.root.link:hover {
  background-color: transparent;
  color: var(--palette--grey-900);
  text-decoration: underline;
}

.root.link:active {
  background-color: transparent;
  color: var(--palette--grey-700);
}

.root:hover {
  background-color: var(--button--hover-bg);
}

.root:active {
  background-color: var(--button--active-bg);
}

.root:disabled {
  cursor: default;
  color: var(--palette--text-disabled);
  background-color: transparent;
}

.root.contained:disabled {
  box-shadow: none;
  background-color: var(--palette--grey-200);
  border-color: var(--palette--grey-300);
}

/* Pressable */
.root::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  transition: box-shadow var(--transition--duration-short) var(--transition--curve);
  border-radius: calc(var(--unit) * 0.5);;
}

.root:focus::before {
  box-shadow: var(--highlight--primary);
}

/* Icons */
.icon {
  display: inherit;
}

.startIcon {
  margin-right: calc(var(--unit) * 0.5);
  margin-left: calc(var(--unit) * -0.5);
}

.endIcon {
  margin-left: calc(var(--unit) * 0.5);
  margin-right: calc(var(--unit) * -0.5);
}