button {
  /* Baseline */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  color: var(--colors-grey-700);
  background-color: transparent;

  /* Simple UI */
  border-radius: calc(var(--unit) * 2);
  min-width: calc(var(--unit) * 8);
  padding: 6px 16px;
  transition:
    background-color var(--transition-duration) var(--transition-curve),
    box-shadow var(--transition-duration) var(--transition-curve);
}

button::-moz-focus-inner {
  border-style: none; /* Remove Firefox dotted outine */
}

button:hover {
  background-color: var(--colors-grey-200);
}

button:active {
  background-color: var(--colors-grey-100);
}

button.primary {
  color: var(--theme-primary-dark);
}

button.secondary {
  color: var(--theme-secondary-dark);
}

button.contained {
  box-shadow: var(--shadows-1);
  background-color: var(--colors-white);
  border: 1px solid var(--colors-grey-300);
  color: var(--colors-grey-700);
}

button.contained:hover {
  box-shadow: var(--shadows-2);
}

button.contained:active {
  background-color: var(--colors-grey-100);
}

button.contained.primary {
  background-color: var(--theme-primary);
  color: var(--colors-white);
  border-color: var(--theme-primary-dark);
}

button.contained.primary:active {
  background-color: var(--theme-primary-light);
}

button.contained.secondary {
  background-color: var(--theme-secondary);
  color: var(--colors-white);
  border-color: var(--theme-secondary-dark);
}

button.contained.secondary:active {
  background-color: var(--theme-secondary-light);
}

span.icon {
  display: inherit;
  font-size: 18px;
  margin-top: -2px;
  margin-bottom: -2px;
}

span.start-icon {
  margin-right: var(--unit);
  margin-left: calc(var(--unit) * -1);
}

span.end-icon {
  margin-left: var(--unit);
  margin-right: calc(var(--unit) * -1);
}
