.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-weight: var(--typography--font-weight-medium);
}

.image {
  width: 100%;
  height: 100%;
  text-Align: center;
  /* Handle non-square image. The property isn't supported by IE11. */
  object-fit: cover;
  /* Hide alt text. */
  color: transparent;
  /* Hide the image broken icon, only works on Chrome. */
  text-indent: 10000;
}

.isClickable {
  cursor: pointer;
}
