.root {
  padding-right: var(--unit);
  padding-left: var(--unit);
  background-color: var(--palette--grey-100);
  transition:
    background-color var(--transition--duration) var(--transition--curve),
    box-shadow var(--transition--duration) var(--transition--curve),
    border-color var(--transition--duration) var(--transition--curve);
}

.right {
  border-left: 1px solid var(--palette--grey-300);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.left {
  border-right: 1px solid var(--palette--grey-300);
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.isClickable {
  font-weight: var(--typography--font-weight-medium);
  cursor: pointer;
}

.isClickable:hover {
  background-color: var(--palette--grey-200);
}

.isClickable:active {
  background-color: var(--palette--grey-300);
}


.isClickable:focus {
  box-shadow: var(--highlight--primary);
}