.inputWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--unit);
}

.inputWrapper.vertical {
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--unit) / 2);
}

.input {
  border: 1px solid var(--palette--grey-300);
  background-color: var(--palette--white);
  border-radius: calc(var(--unit) / 2);
  color: var(--palette--text-primary);
  font-size: var(--typography--base-font-size);
  display: inline-flex;
  align-items: stretch;
  position: relative;
  transition:
    background-color var(--transition--duration) var(--transition--curve),
    box-shadow var(--transition--duration) var(--transition--curve),
    border-color var(--transition--duration) var(--transition--curve);
}

.inputInner {
  padding: 2px 4px;
  display: flex;
  flex: 1;
  align-items: center;
}

.input.pill {
  padding: 6px 12px;
  border-radius: calc(var(--unit) * 2);
}

.input.filled {
  background-color: var(--palette--grey-100);
}

.input.fullWidth {
  width: 100%;
}

.input.error {
  border-color: var(--palette--error);
}

.input.isFocused {
  background-color: var(--palette--white);
  border-color: var(--palette--primary);
  box-shadow: var(--highlight--primary);
}

.input.error:focus-within {
  border-color: var(--palette--error);
  box-shadow: var(--highlight--error);
}

.inputWrapper:focus-within > .label {
  color: var(--palette--primary-700);
}

.inputWrapper:focus-within > .label.error {
  color: var(--palette--error);
}

.label.error {
  color: var(--palette--error);
}
